<% include ../partials/header %>
<div class="row">
    <div class="col-xs-3 filler"></div>
    <div class="col-xs-6">
      <form action="/posts" class="text-center" method="POST">
        <h1>MAKE A POST</h1>
          <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Title</span>
          <input type="text" class="form-control" placeholder="Title.." aria-describedby="basic-addon1"name="post[title]" id="title" required>
        </div>
          <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Media URL</span>
          <input type="text" class="form-control" placeholder="A link here..." aria-describedby="basic-addon1"name="post[url]" id="password" required>
        </div>
        <br>
        <button class="btn-lg btn-success">LOG IN</button>
      </form>
    </div>
    <div class="col-xs-3 filler"></div>
<% include ../partials/footer %>